<div>
  <h3>Here is what we can offer:</h3>
  <%= @pedal.name %> <br/>

  <h1><%= number_to_currency @pedal.min_price %> to <%= number_to_currency @pedal.max_price %></h1>

  <form accept-charset="UTF-8" action="/pedals/<%= @pedal.name %>/sell" class="sell_pedal" id="sell_pedal" method="post">
    <input type="submit" value="Yes!!">
  </form>

  </form>
</div>
