<div class='titlebar'>
  <a href='./sell.html'>sell</a>
  <a href='./explanation.html'>how it works</a>
  <a href='./tracking.html'>track my order</a>
  <a href='mailto:fartmaster@yourmom.com'>contact</a>
</div>

<div class='main'>
  <h1>voltrevolt</h1>

  <div class='embedded-video'>VIDEO GOES HERE</div>
  <div>
    <%= form_for @pedal do |f| %>
      <%= f.hidden_field :id %>

      <%= f.label :pedal_name %>
      <%= f.autocomplete_field :name, 'pedals/autocomplete_pedal_name' %>

    <% end %>
  </div>
</div>

<div class='footer'>
  <a href='./about.html'>about us</a>
  <a href='./tos.html'>terms and conditions</a>
  <a href='./privacy_policy.html'>privacy policy</a>
  <a href='./faq.html'</a>
</div>
