<div>
  <p>Awesome. We're ready to send you a box for your <b><%= @pedal.name %></b></p>
  <p>Would you like to checkout now, or would you like to find more pedals?</p>
  <a href='./checkout.html'>checkout now</a> <span>[another search box goes here]</span>
</div>
